/* homepage styling */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  padding: 100px;
}
.image {
  background: url("https://res.cloudinary.com/humbleartist/image/upload/v1609157407/Profile/bg_fvjksi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner {
  position: relative;
  height: 100vh;
  background: url("https://res.cloudinary.com/humbleartist/image/upload/v1609157407/Profile/bg_fvjksi.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}
.banner h2 span {
  font-weight: 600;
  font-size: 1.5em;
}
.banner h3 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}
.about_btn {
  position: relative;
  background: #2196f3;
  display: inline-block;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  transition: 0.5s all ease;
  letter-spacing: 1.2px;
  font-weight: 500;
}
.about_btn:hover {
  color: #2196f3;
  background: #fff;
}

/* header styling */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.562);

}
header.sticky {
  background: #fff;
  padding: 20px 100px;
  color: black;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header.sticky .logo,
header.sticky li a {
  color: black;
}
header .logo {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.3px;
}
header ul {
  position: relative;
  display: flex;
  margin-right: 100px;
}
header li a {
  position: relative;
  display: inline-block;
  color: #fff;
  text-decoration:none;
  margin: 0 15px;
}
/* about style  */
.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color:#111;
}
.heading h2 {
  font-weight: 600;
  font-size: 30px;
}
.content {
  display: flex;
  justify-content: space-between;
}

.contentbx {
  padding-right: 50px;
}
.contentbx h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.w50 {
  min-width: 50%;
}
.w50 img {
  max-width: 100%;
  transition: 0.5s ease;
}
.w50 img:hover {
  transform: scale(1.07);
}
/* team styling */
.team {
  background: #111;
}
.heading.white {
  color: white;
}

.team .content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.team .content .artistbx {
  padding: 0px;
  background: #222;
  color: #fff;
  height: 400px;
  width: 350px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.team .content .artistbx img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.team .content .artistbx .text {
  background: linear-gradient(
    225deg,
    rgba(88, 222, 255, 0.438),
    rgba(46, 206, 255, 0.534)
  );
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.8s all ease;
}
.team .content .artistbx .text h2 {
  font-size: 30px;
  color: white;
  letter-spacing: 1.5px;
}
.team .content .artistbx .text a {
  position: relative;
  background: linear-gradient(#2196f3, #226499);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  display: inline-block;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 30px;
  font-size: 18px;
  letter-spacing: 1.2px;
  font-weight: bold;
  transition: 0.5s all ease;
  text-decoration:none;
}
.team .content .artistbx .text a:hover {
  background: none;
  border: 2px solid #2196f3;
}
.team .content .artistbx .text .icons a {
  margin: 0 30px;
  background: none;
  border: none;
  font-size: 20px;
  padding: 0;
  color: white;
  text-decoration:none;
  transition: 0.5s all ease;
}
.team .content .artistbx:hover .text {
  top: 0;
}
.contact .content a {
  text-decoration:none;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  color: red;
  font-weight: bold;
  border-radius: 20px;
  background: linear-gradient(rgba(44, 82, 187, 0.555), rgb(0, 255, 234));
  padding: 10px 30px;
  transition: 0.5s all ease;
}
.contact .content a:hover {
  transform: scale(1.2);
}


.anim {
  border-right: solid 5px rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-size: 28px;
  color: rgb(255, 255, 255);
}

/* Animation */
.anim {
  animation: animated-text 4s linear 1s 1 normal both,
    animated-cursor 600ms linear infinite;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  margin-top: auto !important;
  text-align: center;
  padding-top: 10px;
}
footer a {
  text-decoration: none;
  color: white;
}
.copy {
  font-size: 25px;
}

.goback a {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 5px;
  display: inline-block;
  border-radius: 10px;
  margin: 20px auto;
  transition: 0.5s;
  font-weight: bold;
  border: 2px solid black;
}
.goback a:hover {
  color: black;
  background-color: white;
}
/* home page styling end */


.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 40px 70px;
  grid-template-areas:
    "a2 a1 a3"
    "a4 a1 a3"
    "a4 a5 a6"
    "a7 a5 a6"
    "a9 a8 a10"
    "a11 a8  a12"
    "a14 a13 a15"
    "a16 a17 a15"
    "a18 a19 a20";
}

.art {
  min-height: 360px;
  position: relative;
  overflow: hidden;
  transition: 0.5s all ease;
  transform-origin: bottom;
}
.art .like {
  position: absolute;
  bottom: 0;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.781);
  width: 100%;
}
.art .like i {
  transition: 0.3s ease;
  margin-right: 20px;
  cursor: pointer;
}
.art .like.likecolor {
  color: red;
}
.likecount {
  color: white;
}
.a1 {
  grid-area: a1;
}
.a2 {
  grid-area: a2;
}
.a3 {
  grid-area: a3;
}
.a4 {
  grid-area: a4;
}
.a5 {
  grid-area: a5;
}
.a6 {
  grid-area: a6;
}

.a7 {
  grid-area: a7;
}
.a8 {
  grid-area: a8;
}
.a9 {
  grid-area: a9;
}
.a10 {
  grid-area: a10;
}
.a11 {
  grid-area: a11;
}
.a12 {
  grid-area: a12;
}
.a13 {
  grid-area: a13;
}
.a14 {
  grid-area: a14;
}
.a15 {
  grid-area: a15;
}
.art {
  position: relative;
}

.art a img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  fill: none;
}
.vote {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vote i {
  font-size: 30px;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  color: white;
  justify-content: center;
  background-color: rgba(0, 195, 255, 0.63);
  cursor: pointer;
  transition: 0.5s ease;
}
.vote i:hover {
  transform: scale(1.1);
}
.overlay {
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 80%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #0000009d;
}

.art:hover .overlay {
  opacity: 1;
}
.main_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main_container .hexagon {
  margin: 0px 20px 50px 5px;
  position: relative;
  width: 350px;
  height: 400px;
}
.main_container .hexagon::before {
  content: "";
  position: absolute;
  bottom: -70px;
  height: 60px;
  width: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.466), transparent, transparent);
  border-radius: 50%;
  transition: 0.5s all ease;
}
.main_container .hexagon:hover:before {
  opacity: 0.8;
  transform: scale(0.8);
}

.main_container .hexagon .shape {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 350px;
  border-radius: 20px;
  background-color: black;
  /*-webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);*/
  transition: 0.5s all ease;
}
.main_container .hexagon:hover .shape {
  transform: translateY(-30px);
}
.main_container .hexagon .shape img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main_container .hexagon .shape .content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: 0.5s all ease;
  color: white;
  font-weight: bold;
}
.main_container .hexagon:hover .shape .content {
  background: linear-gradient(
    225deg,
    rgba(0, 140, 255, 0.767),
    rgba(130, 222, 238, 0.74)
  );
  border-radius: 20px;
  opacity: 1;
}

.text {
  position: relative;
  color: white;
  font-size: 20px;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.text .show a {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: auto;
  background-color: crimson;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  transition: 0.5s all ease;
}
.text .show a:hover {
  color: crimson;
  background-color: white;
}
.name {
  margin: 20px 0 0 0;
}
.icons {
  margin: 0 0 20px 0;
}
.icons a i {
  color: white;
  margin: 0 20px;
  transition: 0.5s all ease;
}
.icons a i:hover {
  transform: translateY(-30px);
}
@media (max-width: 990px) {
  header,
  header.sticky {
    padding: 20px 50px;
    z-index: 1000;
  }
  .menu {
    position: fixed;
    top: 86px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  header ul li a {
    color: #111;
    font-weight: bold;
    font-size: 24px;
    margin: 20px 0;
  }
  .toggle {
    background: url("https://res.cloudinary.com/humbleartist/image/upload/v1609157406/Profile/bars_gluypf.png");
    background-position: center;
    background-size: cover;
    height: 35px;
    width: 35px;
    filter: invert(1);
    cursor: pointer;
  }
  .toggle.active {
    background: url("https://res.cloudinary.com/humbleartist/image/upload/v1609157406/Profile/cross_c01xwo.png");
    background-position: center;
    background-size: cover;
    height: 35px;
    width: 35px;
    cursor: pointer;
  }
  .menu.active {
    left: 0;
  }
  header.sticky .toggle {
    filter: invert(0);
  }
  section {
    padding: 100px 50px;
  }
  .banner {
    padding: 150px 50px 100px;
  }
  .banner h2 {
    font-size: 2em;
  }
  .banner h3 {
    font-size: 1.5em;
  }
  .about .content {
    flex-direction: column;
  }
  .contentbx {
    margin: 10px 0;
  }
  .contentbx {
    padding-right: 0px;
  }
}
@media (max-width: 760px) {
  .banner {
    padding: 0 0 0 20px;
  }
  .banner h2 {
    font-size: 1.5em;
  }
  .banner h3 {
    font-size: 1em;
  }
  section {
    padding: 20px;
  }
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 5px;
    grid-template-areas:
      "a1 a2 a3"
      "a1 a4 a3"
      "a5 a4 a6"
      "a5 a7 a6"
      "a8 a9 a10"
      "a11 a9  a12"
      "a13 a14 a15"
      "a16 a17 a18"
      "a19 a20 a21";
  }
}
@media (max-width: 550px) {
  .circle {
  height: 300px;
  width: 350px;
  top: 20%;

}
  .about_content a {
    padding: 5px;
  }

  .about_content {
    padding: 30px;
    height: 100%;
  }
  .about_content h1 {
    font-size: 30px;
  }
  .about_content h1 span {
    font-size: 35px;
  }
  .about_content h2 {
    font-size: 30px;
    margin: 20px 0;
  }
 
  .anim {
    font-size: 16px;
  }
 .main {
    display: flex;
    flex-direction: column;
   

  }
  .art {
    min-height: 400px;
    width: 350px;
margin:20px auto;
  }
  .heading {
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 15px;
  }
  .text .show a {
    padding: 10px;
    font-size: 15px;
  }
  .name {
    margin: 10px 0 0 0;
  }
  .icons {
    margin: 0 0 10px 0;
  }
  .icons a i {
    color: white;
    margin: 0 10px;
    transition: 0.5s all ease;
  }

 
}
