@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: #f8f1f1;
}

.nav_bar {
  background-color: #fcf8e8;
  height: 5em;
  text-align: center;
  font-family: 'Finger Paint';
  font-size: 20px;
}
.heading {
  text-align: center;
  margin: 30px 0 10px 0;
  font-size: 50px;
}
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 40px 70px;
  height: 900px;
  grid-template-areas:
    "a1 a2 a3"
    "a1 a4 a3"
    "a5 a4 a6"
    "a5 a7 a6"
    "a8 a9 a10"
    "a11 a9  a12";
}
.splash::before {
  content: "";
  position: absolute;
  background: url("./static/splash.png");
  height: 100%;
  width: 90%;
  background-size: cover;
  background-position: center;
}
.art {
  min-height: 360px;
  position: relative;
  overflow: hidden;
  transition: 0.5s all ease;
  transform-origin: bottom;
}
.a1 {
  grid-area: a1;
}
.a2 {
  grid-area: a2;
}
.a3 {
  grid-area: a3;
}
.a4 {
  grid-area: a4;
}
.a5 {
  grid-area: a5;
}
.a6 {
  grid-area: a6;
}

.a7 {
  grid-area: a7;
}
.a8 {
  grid-area: a8;
}
.a9 {
  grid-area: a9;
}
.a10 {
  grid-area: a10;
}
.a11 {
  grid-area: a11;
}
.a12 {
  grid-area: a12;
}

.art {
  position: relative;
}

.art a img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  fill: none;
  /*object-fit: cover;*/
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #0000009d;
}

.art:hover .overlay {
  opacity: 1;
}
.main_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main_container .hexagon {
  margin: 50px 20px 70px;
  position: relative;
  width: 350px;
  height: 400px;
}
.main_container .hexagon::before {
  content: "";
  position: absolute;
  bottom: -70px;
  height: 60px;
  width: 100%;
  background: radial-gradient(rgba(0, 0, 0, 0.466), transparent, transparent);
  border-radius: 50%;
  transition: 0.5s all ease;
}
.main_container .hexagon:hover:before {
  opacity: 0.8;
  transform: scale(0.8);
}


.main_container .hexagon .shape {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 0.5s all ease;
}
.main_container .hexagon:hover .shape {
  transform: translateY(-30px);
}
.main_container .hexagon .shape img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main_container .hexagon .shape .content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: 0.5s all ease;
  color: crimson;
  font-weight: bold;
}
.main_container .hexagon:hover .shape .content {
  background: linear-gradient(
    225deg,
    rgba(0, 140, 255, 0.767),
    rgba(130, 222, 238, 0.74)
  );
  opacity: 1;
}



.text {
  position: relative;
  color: white;
  font-size: 20px;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.text .show a {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: auto;
  background-color: crimson;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  transition: 0.5s all ease;
}
.text .show a:hover {
  color: crimson;
  background-color: white;
}
.name {
  margin: 20px 0 0 0;
}
.icons {
  margin: 0 0 20px 0;
}
.icons a i {
  color: white;
  margin: 0 20px;
  transition: 0.5s all ease;
}
.icons a i:hover {
  transform: translateY(-30px);
}


@media (max-width: 760px) {
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 40px 70px;
    height: 600px;
    grid-template-areas:
      "a1 a2 a3"
      "a1 a4 a3"
      "a5 a4 a6"
      "a5 a7 a6"
      "a8 a9 a10"
      "a11 a9  a12";
  }
}
@media (max-width: 550px) {
  .main {
    display: grid;
    grid-gap: 10px;
    margin: 40px 20px;
    height: 100%;
    grid-template-areas:
      "a1 a2 "
      "a1 a3"
      "a4 a3"
      "a4 a5"
      "a6 a5"
      "a7 a8"
      "a9 a10"
      "a11 a10"
      "a12 ..";
  }
  .art {
    min-height: 200px;
  }
  .heading {
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 30px;
  }
   .text .show a {
    padding: 10px;
    font-size: 15px;
  }
  .name {
    margin: 10px 0 0 0;
  }
  .icons {
    margin: 0 0 10px 0;
  }
  .icons a i {
    color: white;
    margin: 0 10px;
    transition: 0.5s all ease;
  }
}
