@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: #f8f1f1;
}

.nav_bar {
  background-color: #fcf8e8;
  height: 5em;
  text-align: center;
  font-family: 'Finger Paint';
  font-size: 20px;
}
.heading {
  text-align: center;
  margin: 30px 0 10px 0;
  font-size: 50px;
}
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 40px 70px;
  height: 600px;
  grid-template-areas:
    "a1 a2 a3"
    "a1 a4 a3"
    "a5 a4 a6"
    "a5 a7 a6"
    "a8 a9 a10"
    "a11 a9  a12";
}
.art {
  min-height: 280px;
  position: relative;
  overflow: hidden;
  transition: 0.5s all ease;
  transform-origin: bottom;
}
.a1 {
  grid-area: a1;
}
.a2 {
  grid-area: a2;
}
.a3 {
  grid-area: a3;
}
.a4 {
  grid-area: a4;
}
.a5 {
  grid-area: a5;
}
.a6 {
  grid-area: a6;
}

.a7 {
  grid-area: a7;
}
.a8 {
  grid-area: a8;
}
.a9 {
  grid-area: a9;
}
.a10 {
  grid-area: a10;
}
.a11 {
  grid-area: a11;
}
.a12 {
  grid-area: a12;
}

.art {
  position: relative;
}

.art img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #0000009d;
}

.art:hover .overlay {
  opacity: 1;
}

/* .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} */

@media (max-width: 760px) {
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 40px 70px;
    height: 600px;
    grid-template-areas:
      "a1 a2 a3"
      "a1 a4 a3"
      "a5 a4 a6"
      "a5 a7 a6"
      "a8 a9 a10"
      "a11 a9  a12";
  }
}
@media (max-width: 550px) {
  .main {
    display: grid;
    grid-gap: 10px;
    margin: 40px 20px;
    height: 100%;
    grid-template-areas:
      "a1 a2 "
      "a1 a3"
      "a4 a3"
      "a4 a5"
      "a6 a5"
      "a7 a8"
      "a9 a10"
      "a11 a10"
      "a12 ..";
  }
  .art {
    min-height: 200px;
  }
  .heading {
    text-align: center;
    margin: 20px 0 10px 0;
    font-size: 30px;
  }
}
