{% extends "base.html" %}
{% block content %}

    <div class="title" style="margin: 150px 0 0 0;">
        <h1 class="heading">Fine Arts Team</h1>
    </div>
    <div class="main_container">
        <div class="hexagon">
            <div class="shape">
                <img src="https://res.cloudinary.com/humbleartist/image/upload/v1609086909/Profile/WhatsApp_Image_2020-12-27_at_16.04.33_w8pjjq_acpdur.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Dr. Shilpi Bisht</h1>
                        <h4>Teacher Incharge</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main_container">
        <div class="hexagon">
            <div class="shape">
                <img src="https://res.cloudinary.com/humbleartist/image/upload/v1609086668/Profile/prafulsir_nwktkh.png" alt="">
                <div class="content">
                    <div>
                        <h1>Praful Dubey</h1>
                        <h4>Secretary</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon">
            <div class="shape">
                <img src="https://res.cloudinary.com/humbleartist/image/upload/v1609086392/Profile/WhatsApp_Image_2020-12-27_at_21.55.42_zp8vff.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Vani Nayal</h1>
                        <h4>Secretary</h4>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="hexagon">
            <div class="shape">
                <img src="https://res.cloudinary.com/humbleartist/image/upload/v1609086618/Profile/rakshit_c2v6mt.png" alt="">
                <div class="content">
                    <div>
                        <h1>Rakshit Joshi</h1>
                        <h4>Vice-Secretary</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon">
            <div class="shape">
                <img src="https://res.cloudinary.com/humbleartist/image/upload/v1609088865/Profile/WhatsApp_Image_2020-12-27_at_22.37.02_iy5lho.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Renu Banai</h1>
                        <h4>Vice-Secretary</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="contact" class="contact">
        <div class="heading">
            <a href="{{url_for('team')}}"><h2>Meet the Developers</h2></a>
        </div>
    </section>
{% endblock %}