<!DocType Html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <!--<link href='https://fonts.googleapis.com/css?family=Finger Paint' rel='stylesheet'>-->
        <title>Fine Arts Bias</title>
    </head>

    <body>
        <div class="nav_bar">
            <h2>Fine Arts</h2>
            <p>B.I.A.S</p>
        </div>
        {% block content %}
        <div class="main">
            {% for artist in artists%}
                {% set index = loop.index %}
                  <div class="art a{{index}}">
            <a href="{{artist["profile_url"]}}" target="__blank"> <img src="{{artist["profile_url"]}}" alt=""></a>
            <div class="overlay">
                <div class="text">
                    <h3 class="name">{{artist}}</h4>
                        <div class="show"> <a href="#">See Collection</a>
                        </div>
                        <div class="icons">
                            <a href="#"> <i class="fab fa-github" aria-hidden="true"></i></a>
                            <a href="#"> <i class="fab fa-facebook-f"></i></a>
                            <a href="#"> <i class="fab fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                </div>
            </div>

        </div>
            {% endfor %}
        </div>
        <footer>
            <h1>foot</h1>
        </footer>
        {% endblock %}
    </body>
</Html>
