<!DocType Html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link href='https://fonts.googleapis.com/css?family=Finger Paint' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
           <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>Fine Arts Bias</title>
    </head>

    <body>
    
    
        {% block content %}
    
    <section class="banner">
        <div class="textbx">
            <h2>Welcome to <br> <span>Fine Arts Society</span> </h2>
            <h3 class="anim">Draw what you imagine.....</h3>
            <a class="about_btn" href="#about">About us</a>
        </div>
    </section>
     <section id="about" class="about">
        <div class="heading">
            <h2>About Us</h2>
        </div>
        <div class="content">
            <div class="contentbx w50">
                <h1>Fine Arts Society, BIAS</h1>
                <p>Bringing colour to the institution,we here at Fine Arts Society vividly promote creativity among the
                    BIAS students. Connect with us if art brings joy to your life.</p>
            </div>
            <div class="w50">
                <img src="/aboutimg.jpg" class="img" alt="">
            </div>
        </div>
    </section>
    
           
               
   <section id="artists" class="team">
        <div class="heading white">
            <h2>Our Artists</h2>
        </div>
        <div class="content">
             {% for artist in artists%}
                {% set index = loop.index %}
            <div class="artistbx">
                <img src="{{artists[artist]["profile_url"]}}" alt="">
                <div class="text">
                    <h2>{{artist}}</h2>
                    <a href="{{ url_for('display',username=artist)}}">See collection</a>
                    <div class="icons">
                        <a href="{{artists[artist]["instagram"]}}"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    </div>
                </div>
            </div> 
            {% endfor %}          
        </div>
    </section>
    <section id="contact" class="contact">
        <div class="heading ">
            <h2>Contact Us</h2>
            <p>Get In touch with us to feature your art in the website</p>
        </div>
    </section>
        {% endblock %}
        

            {% block foot %}{% endblock %}
            <footer class="container-fluid ">
                <div class="row">
                    <div class="col-12 col-md">
                        <small class="d-block mb-3 text-muted">© FINE ARTS BIAS</small>
                    </div>
                    <div class="col-6 col-md">
                        <a href="{{url_for('artsteam')}}">
                            <h5>TEAM</h5>
                        </a>
                    </div>
                    <div class="col-6 col-md">
                        <a href="{{url_for('team')}}">
                            <h5>DEVELOPERS</h5>
                        </a>
                    </div>
                </div>
            </footer>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
 <script>
        window.addEventListener("scroll", () => {
            var header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY > 0)
        })
        function togglemenu() {
            var menutoggle = document.querySelector(".toggle");
            var menu = document.querySelector(".menu");
            menutoggle.classList.toggle("active")
            menu.classList.toggle("active")
        }
    </script>
    </body>
</Html>
