<!DocType Html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <title>Fine Arts Bias</title>
    </head>

    <body>
        <div class="nav_bar">
            <h1>Nav bar</h1>
        </div>
        {% block content %}
        <div class="main">
                {% for artist in artists%}
                    <img src="{{artists[artist]["profile_url"]}}" />
                    <p>{{artist}} {{artists[artist]["branch"]}}</p>
                {% endfor %}
        </div>
        <footer>
            <h1>foot</h1>
        </footer>
        {% endblock %}
    </body>
</Html>