{% extends "base.html" %}
{% block content %}
<div>
    
    <h1 class="heading">{{username}}</h1>
    <p align="center">{{user["instagram"]}} {{user["branch"]}} {{user["facebook"]}}</p>

    {% for images in user["images_url"] %}
    {% set index = loop.index %}
        <div class="art a{{index}}">
            <a href="#" target="__blank"> <img src="{{images["url"]}}" alt="loading" />
            </a>
            <div class="overlay">
            </div>
        </div>
        <p>Likes:{{images["likes"]}}</p>
    {% endfor %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.main').magnificPopup({
                type: 'image',
                delegate: 'a',
                gallery: {
                    enabled: true
                }
            });
        });
    </script>
</div>
{% endblock %}
