{% extends "base.html" %}
{% block content %}
 <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" />
<div>

    <div class="title" style="margin: 150px 0 0 0;">
        <h1 class="heading">{{user.artis_name}}</h1>
        <p align="center">{{user.branch}}</p>
    </div>
    <div class="main">
    {% for images in work %}
    {% set index = loop.index %}
        <div class="art a{{index}}">
            <a href="images.art" target="__blank"> <img src="{{images.art}}" alt="loading" />
            </a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
    
