{% extends "base.html" %}
{% block content %}
 <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" />
<div>
    <h1   class="username">{{username}}</h1>
    <p align="center">{{user["branch"]}}</p>
    <div class="main">
    {% for images in user["images_url"] %}
    {% set index = loop.index %}
        <div class="art a{{index}}">
            <a href="{{images["url"]}}" target="__blank"> <img src="{{images["url"]}}" alt="loading" />
            </a>
          
        </div>
        <p class="a{{index}}">Likes:{{images["likes"]}}</p>
    {% endfor %}
    </div>
</div>
{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.main').magnificPopup({
                type: 'image',
                delegate: 'a',
                gallery: {
                    enabled: true
                }
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous">
    </script>
    <script>
        window.addEventListener("scroll", () => {
            var header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY > 0)
        })
        function togglemenu() {
            var menutoggle = document.querySelector(".toggle");
            var menu = document.querySelector(".menu");
            menutoggle.classList.toggle("active")
            menu.classList.toggle("active")
        }
    </script>
