{% extends "base.html" %}
{% block content %}

    <div class="main_container">
        <div class="hexagon">
            <div class="shape">
                <img src="https://res.cloudinary.com/humbleartist/image/upload/v1608951625/Profile/WhatsApp_Image_2020-12-26_at_08.29.45_ldjpmm.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Apoor Joshi</h1>
                        <h4>UI/UX Designer</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon">
            <div class="shape">
                <img src="https://res.cloudinary.com/humbleartist/image/upload/v1608963764/Profile/IMG-20201226-WA0033_gzxcmw.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Anuva Negi</h1>
                        <h4>UI/UX Designer</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon">
            <div class="shape">
                <img src="https://res.cloudinary.com/humbleartist/image/upload/v1608975944/Profile/PicsArt_01-12-05.38.15_rfb9ro.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Tanmaya Singh</h1>
                        <h4>The Lead</h4>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="hexagon">
            <div class="shape">
                <img src="https://res.cloudinary.com/humbleartist/image/upload/v1608977567/Profile/WhatsApp_Image_2020-12-26_at_15.42.20_vw6sqz.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Karan Joshi</h1>
                        <h4>Web Designer</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon">
            <div class="shape">
                <img src="https://res.cloudinary.com/humbleartist/image/upload/v1608978378/Profile/WhatsApp_Image_2020-12-24_at_10.31.10_xhuhzf.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Harshit Pathak</h1>
                        <h4>Web Designer</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}