<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hexagon</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="main_container">
        <div class="hexagon">
            <div class="shape">
                <img src="/memb.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Name</h1>
                        <h4>Batch</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon">
            <div class="shape">
                <img src="/memb2.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Name</h1>
                        <h4>Batch</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon">
            <div class="shape">
                <img src="/memb3.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Name</h1>
                        <h4>Batch</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon">
            <div class="shape">
                <img src="/memb4.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Name</h1>
                        <h4>Batch</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="hexagon">
            <div class="shape">
                <img src="/memb.jpg" alt="">
                <div class="content">
                    <div>
                        <h1>Name</h1>
                        <h4>Batch</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>